/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Body */
body {
    background: linear-gradient(135deg, #667eea, #764ba2);
    min-height: 100vh;
    padding: 40px;
}

/* Main container */
.container {
    max-width: 1100px;
    margin: auto;
    background: #ffffff;
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.15);
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.header h2 {
    font-size: 26px;
    color: #333;
}

/* Add button */
.btn-add {
    text-decoration: none;
    background: linear-gradient(135deg, #43cea2, #185a9d);
    color: white;
    padding: 12px 20px;
    border-radius: 30px;
    font-weight: 600;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    gap: 8px;
}

.btn-add:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

/* Table */
.table-wrapper {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background: #f4f6fb;
}

th, td {
    padding: 14px 18px;
    text-align: left;
}

th {
    color: #555;
    font-size: 14px;
    text-transform: uppercase;
}

tbody tr {
    border-bottom: 1px solid #eee;
    transition: background 0.3s ease;
}

tbody tr:hover {
    background: #f9f9ff;
}

/* Hide password */
.password {
    letter-spacing: 2px;
    color: #888;
}

/* Actions */
.actions {
    display: flex;
    gap: 10px;
}

/* Buttons */
.btn {
    text-decoration: none;
    padding: 8px 14px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
    transition: all 0.3s ease;
}

button{
    border: none;
    outline: none;
    cursor: pointer;
}

/* Edit */
.btn.edit {
    background: #4facfe;
    color: white;
}

.btn.edit:hover {
    background: #2b8cff;
}

/* Delete */
.btn.delete {
    background: #ff5f6d;
    color: white;
}

.btn.delete:hover {
    background: #e04856;
}

/* No data */
.no-data {
    text-align: center;
    padding: 30px;
    color: #777;
    font-size: 16px;
}

/* delete modal */
.modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background: #fff;
    padding: 25px;
    width: 350px;
    border-radius: 12px;
    animation: fadeIn 0.3s ease;
}

.modal-content h3 {
    margin-bottom: 15px;
    text-align: center;
}

.modal-content input {
    width: 100%;
    padding: 10px;
    margin: 8px 0 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.modal-actions {
    display: flex;
    justify-content: space-between;
}

.btn.cancel {
    background: #aaa;
    color: #fff;
}
